<nav>
    <ul>
        <li><a href="/">Accueil</a></li>
        <li><a href="{{ '/pages/membre-iid.html' | relative_url }}">Membres IID</a></li>
        <li><a href="{{ '/pages/externe.html' | relative_url }}">Externes</a></li>
        <li><a href="{{ '/pages/formations.html' | relative_url }}">Formations</a></li>
        <li><a href="{{ '/pages/contributing-fr.html' | relative_url }}">Contribuer</a></li>
        <li><a href="{{ '/pages/en/accueil.html' | relative_url }}">En</a></li>   
    </ul>
</nav>