<nav>
    <ul>
        <li><a href="{{ '/' | relative_url }}">Accueil</a></li>
        <li><a href="{{ '/pages/ulaval.html' | relative_url }}">Membres IID</a></li>
        <li><a href="{{ '/pages/externe.html' | relative_url }}">Externes</a></li>
        <li><a href="{{ '/pages/formations.html' | relative_url }}">Formations</a></li>
        <li><a href="{{ '/pages/contributing-fr.html' | relative_url }}">Contribuer</a></li>
        <li><a href="{{ '/pages/en/README.html' | relative_url }}">En</a></li>   
    </ul>
</nav>