<nav>
    <ul>
        <li><a href="{{ '/pages/en/accueil.html' | relative_url }}">Home</a></li>
        <li><a href="{{ '/pages/en/membre-iid.html' | relative_url }}">IID members</a></li>
        <li><a href="{{ '/pages/en/externe.html' | relative_url }}">External</a></li>
        <li><a href="{{ '/pages/en/formations.html' | relative_url }}">Training session</a></li>
        <li><a href="{{ '/CONTRIBUTING.html' | relative_url }}">Contribution</a></li>
        <li><a href="/">Fr</a></li>
    </ul>
</nav>