<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/print.css' | relative_url }}" media="print">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    {% include head-custom.html %}
  </head>

  <body>
    <header>
      <img src="assets/img/iid-bleu.svg" alt="Logo de l'Institut Intelligence et Données" />
      <h1>Service de Consultation en IA et données</h1>
      <h2>Service de consultation en intelligence artificielle et données de l'Institut Intelligence et Données de l'université Laval. Réservé aux membres pour le moment.</h2>
    </header>
    <div id="container">
      <div class="inner">
        <hr>
        <section id="main_content">
          {{ content }}
        </section>

        <footer>
          Pour contribuer au développement de ces pages, voir le <a href="CONTRIBUTING.html">guide</a>.<br>
          {{ site.title | default: site.github.repository_name }} est maintenu par <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a><br>
          Cette page est générée par les <a href="https://pages.github.com">Pages GitHub</a>. Sous licence <a href="LICENSE.html">MIT</a>.
        </footer>

      </div>
    </div>
  </body>
</html>
